<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605123245202-gn8fb95v8tv973mkt11hfa20p76r94nq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605123245202-gn8fb95v8tv973mkt11hfa20p76r94nq</string>
	<key>API_KEY</key>
	<string>AIzaSyDhoB2vkWLMr4uaI80w5yozeYzX07H1dB4</string>
	<key>GCM_SENDER_ID</key>
	<string>605123245202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.osteriamadonna</string>
	<key>PROJECT_ID</key>
	<string>uniquiz-1b245</string>
	<key>STORAGE_BUCKET</key>
	<string>uniquiz-1b245.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605123245202:ios:4144061c69904881dd624b</string>
</dict>
</plist>